@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

:root {
  --custom-light-purple: #ae00fe;
  --custom-dark-purple: #652bb7;
  --custom-light-gray: #949494;
}


/* * {
  outline: green solid 1px;
} */